<!DOCTYPE html>
<html>
	<head>
		Secret Santa!
	</head>
	<body>
		<form action="getData" method="post">
			First Name:<br>
			<input type="text" name="firstname">
			<br>
			<br>
			Last Name:<br>
			<input type="text" name="lastname">
			<br>
			<br>
			Desired Loot:<br>
			<input type="text" name="want">
			<br>
			<br>
			Un-desired Loot:<br>
			<input type="text" name="dontwant">
			<br>
			<br>
			Budget:<br>
			<input type="text" name="budget">
			<br>
			<br>
			Desired giftee:<br>
			<input type="text" name="giftee">
		</form>	
	</body>
</html>